:root {
  --sage-sidebar-width: 250px;
  --sage-sidebar-minimized-width: 40px;
  --sage-navbar-height: 66px;
  --sage-dark-purple: #2D2E74;
  --sage-white: #ffffff;
  --sage-darkblue: #373ABF;
  --sage-purple: #5E5FBF;
  --sage-green: #65BE67;
  --sage-beige: #E0C758;
  --sage-blue: #2a6b92;
}

#container {
	margin: 20px;
}

.container .bg-sage-darkpurple {
}

#sage-main-content {
  margin-left: var(--sage-sidebar-width); /* Set margin to avoid drawing main content behind the sidebar */
  transition-property: margin-left;
  transition-delay: 0.35s;
  transition-timing-function: steps(1, jump-both);
}
#sage-main-content.maximized {
  margin-left: var(--sage-sidebar-minimized-width);
}

/* Sidebar */
#sage-sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--sage-sidebar-width);
  background-color: white;
  transition: left 0.35s ease;
}
#sage-sidebar.minimized {
  left: calc(var(--sage-sidebar-minimized-width) - var(--sage-sidebar-width));
}

#sage-sidebar .content {
  margin-top: var(--sage-navbar-height); /* Set margin to avoid drawing sidebar content behind the static navbar */
  transition: opacity 0.35s ease;
}
#sage-sidebar .content.minimized {
  pointer-events: none;
  opacity: 0;
}

#sage-sidebar .minimized-width {
  width: var(--sage-sidebar-minimized-width);
}
#sage-sidebar .persistent-ui {
  position: fixed;
  top: var(--sage-navbar-height);
  left: 0;
  z-index: 11;
}
#sage-sidebar .persistent-ui:not(:hover,:active,:focus) {
  opacity: 0.25;
}
#sage-sidebar .persistent-ui.minimized {
  opacity: 1;
}
#sage-sidebar .persistent-ui.minimized:not(:hover,:active,:focus) {
  background-color: transparent;
}
/* End Sidebar */

.nav-link {
  color: var(--sage-dark-purple)
}

.nav-tabs .nav-link:hover {
 border-color:#e9ecef #e9ecef #dee2e6;
 isolation:isolate;
 opacity: 0.5;
}

.nav-tabs .nav-item.show  .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active, .nav-link:hover {
 color: white;
 background-color: var(--sage-green);
 border-color:#dee2e6 #dee2e6 #fff;
 opacity: 1.0;
}



.spinner {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
}

.alert-danger {
  margin-top: 20px;
}

h2 {
	color: #317eac;
}

span {
  word-wrap: break-word;
}

.btn-primary {
  background-color: var(--sage-dark-purple);
  border-color: var(--sage-dark-purple);
}
.btn-sage-primary {
  color: #fff;
  background-color: var(--sage-dark-purple);
  border-color: var(--sage-dark-purple);
}


.landing-page-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.btn-secondary {
  background-color: var(--sage-green);
  border-color: var(--sage-green);
}

.btn-sage-secondary {
  color: #fff;
  background-color: var(--sage-green);
  border-color: var(--sage-green);
}
.btn-sage-white-secondary {
  background-color: white;
  border-color: white;
  color: black;
}
.btn-sage-white-secondary:focus {
  color: #707070;
  background-color: #DEF1DF;
  border-color: #DEF1DF;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-sage-white-secondary:active, .btn-sage-white-secondary.active {
  background-color: #DEF1DF;
  border-color: rgba(0,0,0,0);
}

.btn-sage-white-secondary:disabled, .btn-sage-white-secondary.disabled {
  color: #5b5b5b;
}

.btn-sage-white-secondary:hover {
  color: white;
  background-color: var(--sage-green);
  border-color: var(--sage-green);
  background-position: 0 -15px;
}

.btn-tertiary {
  background-color: white;
  border-color: rgba(0,0,0,.2);
  color: gray;
}
.btn-sage-tertiary {
  background-color: white;
  border-color: rgba(0,0,0,.2);
  color: gray;
}

/* all of the following are required to clip text */
span.fhir-element-value {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

/* override bootstrap button styles */
.inline-menu-toggle {
  padding:0 !important;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  font-size: 14px !important;
  color: black !important;
}

/* override bootstrap button styles */
.heading-menu-toggle {
  padding: 4px !important;
  background: none !important; 
  padding: 4px 8px !important;
  border: 0 !important;
  background: #eeeeee !important;
  box-shadow: none !important;
  font-size: 14px !important;
  border-radius: 0 !important;
  color: black !important;
}

.dropzone {
  background: #ffffcc;
}

.footer {
  padding-top: 10px;
  border-top: 2px solid #317eac;
  margin-top: 40px;
  text-align: center;
}

.fhir-resource-title {
  padding-top: 10px;
  border-bottom: 2px solid #317eac;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.fhir-data-element {
	border-bottom: 1px solid #eeeeee;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.fhir-array .fhir-array-complex-wrap:first-child {
	margin-top: 0;
}

.fhir-array-complex-wrap {
	border: 4px solid #eeeeee;
	padding: 0;
	margin-top: 10px;

}
.fhir-array-complex {
	padding: 0 16px 16px 16px;
}

.fhir-array-complex > .row {
	margin: 0;
}

.fhir-xhtml {
	border: 2px solid #eeeeee;
	padding: 5px;
  max-height: 100px;
  overflow: auto;
}

.fhir-xhtml-edit {
  height: 100px !important;
}

.fhir-short-desc {
	color: #ccc;
}

.fhir-data-element:first-child {
	border-top: none;
}      

.fhir-data-element:last-child {
	border-bottom: none;
}      

.fhir-array-complex-title-wrap {
	margin-bottom: 5px;
}

.fhir-array-complex-title {
	padding: 4px 8px;
	background: #eeeeee;
  cursor: pointer;	
}

.fhir-value-array-input, .fhir-value-array-add {
	padding-top: 8px !important;
}

.fhir-value-array-input:first-child, .fhir-value-array-add:first-child {
	padding-top: 0;
}

.dropdown-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.fhir-data-title {
  cursor: pointer;
}

.fhir-data-type {
  color: #bbb;
}

.fhir-data-content {
  cursor: pointer;
}

.fhir-element-unknown .fhir-data-title {
  cursor: default;
}

.fhir-element-unknown .fhir-data-content {
  color: #ff6666;
  cursor: default;
}

.fhir-invalid-code  {
  color: #ff6666;
}

.fhir-element-content img {
	max-width: 50px;
	max-height: 50px;
	border: 2px solid #eeeeee;
	margin: 5px;
	padding: 5px;
}


/* blue navbar */
.navbar-custom {
  background-color: var(--sage-dark-purple);
  border-color: var(--sage-blue);
  display: flex;
  justify-content: space-between;
  height: var(--sage-navbar-height);
}
.navbar-custom .navbar-brand {
  color: #fff;
  font-size: x-large;
  font-weight: bold;
  margin-left: 3rem;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: var(--sage-white);
}
.navbar-custom > div > .navbar-nav:last-child  > a {
  border-right: 1px solid var(--sage-blue);
}
.navbar-custom .navbar-nav  > a {
  color: var(--sage-white) !important;
  border-left: 1px solid var(--sage-blue) !important;
}
.navbar-custom .navbar-nav  > a:hover,
.navbar-custom .navbar-nav  > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: var(--sage-blue);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #296a90;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: var(--sage-blue);
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: var(--sage-white);
  border-bottom-color: var(--sage-white);
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: var(--sage-white);
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: var(--sage-blue);
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: var(--sage-white);
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}

#element-menu {
  display: inline-block;
}

#advanced-dropdown {
  margin: 0 0 0 206px !important;
}


.box {
  border:3px solid var(--sage-blue);
  padding:25px 10px 10px 10px;
  border-radius:0.25rem;
}

a {
  color:black;
}

/* CARDS AND FOLDERS */

.sage-card {
  min-height: 11rem;
}

/* .card {
  cursor:pointer;
  margin:0px 0px 15px 0px;
  border-radius:10px;
  border: 3px solid var(--sage-blue);
}

.card:hover{
  color: white;
  transition-duration:300ms;
}

.card-header {
  background-color:#25a5f5;
}

.card-body {
  background-color:#88d1ff;
}*/

/* AHRQ CQL Editor */
.btn-ahrq {
  background-color: #5178a4;
  border-color: #2d435b;
  color: var(--sage-white);
  border-radius: initial;
  opacity: 65%;
}

.btn-ahrq:hover {
  opacity: initial;
  color: var(--sage-white);
}

.btn-ahrq.active {
  opacity: initial;
}

.bg-ahrq-blue {
  background-color: #304760;
}

.border-ahrq {
  border-color: #2d435b;
}

.card-body-ahrq {
  padding: 0%;
}

.card-header-ahrq {
  cursor: pointer
}

.card-header-ahrq:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* SAGE Basic View */
.bg-sage-white {
  background-color: var(--sage-white);
}
.bg-sage-purple {
  background-color: var(--sage-purple);
}
.bg-sage-darkpurple {
  background-color: var(--sage-dark-purple);
}
.bg-sage-darkblue {
  background-color: var(--sage-darkblue);
}
.bg-sage-green {
  background-color: var(--sage-green);
}
.bg-sage-beige {
  background-color: var(--sage-beige);
}
.disabled-card {
  pointer-events: none;
  background-color: #afafaf;
}
.text-sage-white {
  color: var(--sage-white);
}
.text-sage-green {
  color: var(--sage-green);
}
.text-sage-blue {
  color: var(--sage-blue);
}

.border-activitydefinition, .border-questionnaire {
  border-width: medium;
}

.border-activitydefinition {
  border-color: #904c77;
}

.border-questionnaire {
  border-color: #ce6c47;
}

/* .folder:hover .card{
  color: white;
  transition: .3s;
} */

.folder:hover .folder-type {
  transform: translate(0px, -9px);
  transition: transform .3s;
}

.folder .folder-type {
  transition: transform .3s;
}

.folder .folder-type .card-header {
  height: 60px;
}

.folder .delete {
  position:absolute;
  top:22px;
  left:213px;
  width:30px;
  height:30px;
  border-radius:30px;
  border: 0px;
  /* background-color:#25a5f5; */
  font-size:17px;

}

/* .folder .delete:hover {
  color:red;
  background-color: #296a90;
} */

.folder .basic-collection-library-loading {
  position:absolute;
  top:100px;
  left:213px;
  width:30px;
  height:30px;
  border-radius:30px;
  border: 0px;
  /* background-color:#25a5f5; */
  font-size:17px;
}

/* BUTTONS */

.navigate {
  background: linear-gradient(to left, white 50%, var(--sage-dark-purple) 50%) right;
}

.navigate-reverse {
  background: linear-gradient(to right, white 50%, var(--sage-dark-purple) 50%) left;
}

.navigate, .navigate-reverse {
  background-size: 200%;
  transition: .3s ease-out;
  border: 2px solid var(--sage-dark-purple);
  color: var(--sage-dark-purple);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:5px;
  margin-bottom:5px;
}

.navigate:hover {
  background-position:left;
  color:white;
}

.navigate-reverse:enabled:hover {
  background-position:right;
  color:white;
}

.open-resource {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:5px;
}

.export-json {
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
  border-radius:10px;
  background-color: var(--sage-blue);
  border:1px solid var(--sage-blue);
  color:white;
}

.export-json:hover {
  background-color: #e73605;
  border:1px solid #e73605;
  transition-duration:300ms;
}

.navigate svg {
  transition: transform 0.3s;
}

.navigate:hover svg {
  transform: translateX(8px);
  transition: transform 0.3s;
}

.navigate-reverse svg {
  transition: transform 0.3s;
}

.navigate-reverse:enabled:hover svg {
  transform: translateX(-8px);
  transition: transform 0.3s;
}

/* c-tooltipS */
.c-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.c-tooltip .c-tooltiptext {
  visibility: hidden;
  width: 75px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 12px;
  
  /* Position the c-tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -30px;
}

.c-tooltip:hover .c-tooltiptext {
  visibility: visible;
}

/* CARD/FOLDER APPEARANCES */
.res-card-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.res-card-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms;
}
.res-card-exit {
  opacity: 1;
}
.res-card-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.res-folder-enter {
  opacity: 0;
  transform: translateY(200px);
}
.res-folder-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms;
}
.res-folder-exit {
  opacity: 1;
}
.res-folder-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* SLIDE IN/OUT TRANSITIONS */
.view-from-right-enter {
  opacity: 0;
  transform: translateX(100vw) translateY(50px);
}
.view-from-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.view-from-right-exit {
  opacity: 1;
}
.view-from-right-exit-active {
  opacity: 0;
  transform: translateX(-100vw);
  transition: all 500ms;
}

.view-from-left-enter {
  opacity: 0;
  transform: translateX(-100vw)
}
.view-from-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.view-from-left-exit {
  opacity: 1;
}
.view-from-left-exit-active {
  opacity: 0;
  transform: translateX(100vw);
  transition: all 500ms;
}

.page1-formgroup{
  flex-grow: 0.4;
}
.page1-dosage-small{
  flex: 0 0 12%;
}
.page1-dosage-medium{
  flex: 0 0 50%;
}

.basic-page-titles{
  font-weight: bold;
  font-size: large;
}

/* Condition Editor */
.condition-editor-body {
  min-height: 50vh;
}

/* CQL Wizard */
.cql-wizard-modal {
  height: 50rem;
}
.cql-wizard-modal-body {
  overflow-y: hidden;
}
.cql-wizard-nav-button {
  height: 100%;
  border-radius: 0;
}
.cql-wizard-floating-buttons {
  position: absolute;
  right: 4rem;
  bottom: 3rem;
  z-index: 10;
  display: flex;
  gap: 1rem;
}

.cql-wizard-header-content {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr; /* Pagination, Title */
  place-items: center;
}
.cql-wizard-pagination {
  margin: 10px; /* Override bootstrap pagination's `margin-bottom: 16px` */
}
.cql-wizard-pagination-text {
  text-align: center;
}
#cql-wizard-pagination-item{
    color: black;
    background-color: white;
    border-color: #000;

}

.cql-wizard-body-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.cql-wizard-page-content-closest-positioned-ancestor {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/position - See positioning details for "absolute"*/
  position: relative;
}
.cql-wizard-page-content {
  overflow-y: auto;
  margin: 15px;
  padding: 5px;
  position: absolute;
  /* https://keithjgrant.com/posts/2016/01/width-and-absolute-positioning/ */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.cql-wizard-content-transition-enter { /* cql-wizard-content-transition usable by CSSTransition */
  opacity: 0;
  transform: scale(0.9);
}
.cql-wizard-content-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.cql-wizard-content-transition-exit {
  opacity: 1;
}
.cql-wizard-content-transition-exit-active {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.cql-wizard-select-resource-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.cql-wizard-select-resource-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 215px);
  gap: 10px;
  place-content: center;
  height: 100%;
}
.cql-wizard-select-resource-warning {
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  height: 100%;
  width: 100%;
}
.cql-wizard-resource-warning-buttons {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}

.cql-wizard-select-code-grid {
  display: grid;
  grid-template-columns: 50% 50%; /* Selected codes, Search area */
  grid-template-rows: 100%;
  gap: 5px;
  height: 100%; /* We're fixing the height here so that we have control over which child containers are scrollable */
}
.cql-wizard-select-code-input-grid {
  display: grid;
  grid-template-rows: 50px 1fr; /* Search bar, Search results */
  padding: 10px;
}
.cql-wizard-select-code-input-form {
  display: grid;
  grid-template-columns: 5fr 4fr 1fr 1.5fr; /* Code search, System select, Submit button, Loading indicator*/
  gap: 5px;
  place-items: center;
  place-content: space-around;
}
.cql-wizard-select-code-input-result {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
  overflow-y: auto;
}
.cql-wizard-code-selection-item-remove-btn {
  margin-right: 0.5rem;
}
.cql-wizard-code-transition-enter { /* cql-wizard-code-transition usable by CSSTransition */
  opacity: 0;
}
.cql-wizard-code-transition-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.cql-wizard-code-transition-exit {
  opacity: 1;
}
.cql-wizard-code-transition-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.cql-wizard-select-code-selection-grid {
  overflow-y: auto;
  padding: 10px;
}
.cql-wizard-select-code-selection-empty {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.cql-wizard-select-filters-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cql-wizard-element-filters-button-group {
  display: grid;
  grid-auto-flow: column;
}
.cql-wizard-element-filters-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cql-wizard-element-filters-button-ignored {
  opacity: 0.5;
}
.cql-wizard-element-filters-relative-date-controls {
  display: grid;
  grid-auto-columns: 100px 1fr; /* Number input field, Relative unit button group */
  grid-auto-flow: column;
  gap: 3px;
  justify-content: start;
  align-items: center;
}
.cql-wizard-filters-overscroll-excess {
  height: 200px;
}

.cql-wizard-result-should-exist {
  float: right;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

.text-dotted-underline {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
.display-page-title{
  font-size: large;
  margin: 0;
  font-weight: bold;
}
.display-page-dosage-small{
  margin: 0;
  flex: 0 0 15%;
}
.display-page-dosage-medium{
  margin: 0;
  flex: 0 0 25%;
}
.display-page-productRefernce{
  flex: 0 0 35%;
}

.left-nav-button{
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  font-size: 14px;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  flex: 1 1 auto;
}
.left-nav-button-group{
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  padding-bottom: 2rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.left-nav-button-group-bottom{
  padding-left: 2rem;
  border-width: 1px;
  border-top-color: black;
  border-top-style: solid;
}

.highlighted {
  color: #5A616B;
  font-weight: bold;
  background-color: #DEF1DF;
  border-color: #DEF1DF;
  margin: 1.5px 0px;
  background-position: 0 -15px;
}
.hline {
  border-top: 1px solid rgba(0,0,0,.2);
  margin-left: 2rem;
  margin-right: 1rem;
}
.raise-card-animation:hover,
.raise-card-animation:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  transition: 0.25s;

}
.breadcrumb{
  background-color: white;
  justify-content: space-evenly;

}
.top-bread-crumb{
  height: 1px;
  background-color: var(--sage-green);
}

.step-numbers{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 8px;
  background: #fff;
  border: 1px solid black;
  color: #000;
  text-align: center;
}
.accomplished{
  background-color: var(--sage-green);
  color: var(--sage-white);
}

/* c-tooltipS */
.page1-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.page1-tooltip .page1-tooltiptext {
  visibility: hidden;
  background-color: white;
  color: red;
  text-align: center;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 10px;
  font-size: medium;
  white-space: nowrap;
  
  /* Position the c-tooltip */
  position: absolute;
  bottom: 30px;
  right: 10px;
  z-index: 1;
}

.page1-tooltip:hover .page1-tooltiptext {
  visibility: visible;
}
.page1-dosage-small-example{
  flex: 0 0 10%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}
.page1-dosage-medium-example{
  flex: 0 0 50%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 1;
  color: red;
}
